{% extends 'base.html' %}
{% block title %}Edit Tag{% endblock %}
{% block content %}

<h1 class="my-3">Edit tag: <em>#{{ tag.name }}</em></h1>

<form action="/tags/{{ tag.id }}/edit" method="POST">
  <div class="col-12">
    <label for="tag" class="form-label"></label>
      <input type="text" class="form-control" id="title" name="tag" value="{{ tag.name }}" placeholder="Enter a new name for the tag" maxlength="50" required>
    </div>

    <div class="form-group form-check mt-4">
      {% for post in posts %}
      <div>
        <input class="form-input" type="checkbox" value="{{ post.id }}" id="post_{{ post.id }}" name="posts" 
        {% if post in tag.post %} checked {% endif %}>
        <label class="form-check-label" for="post_{{ post.id }}">
          {{ post.title }}
        </label>
      </div>
      {% endfor %}
    </div>
  
    <div class="mt-3 form-group row">
      <div class="ml-auto mr-3">
        <a class="btn btn-outline-secondary btn-sm" href="/tags/{{ tag }}" role="button">Cancel</a>
        <button type="submit" class="btn btn-success btn-sm">Submit</button>
      </div>
  
    </div>
</form>

{% endblock %}