{% extends 'base.html' %}
{% block title %}Add Post{% endblock %}
{% block content %}

<h1 class="my-3">Add Post for {{ user.full_name }}</h1>

<form action="/users/{{ user.id }}/posts/new" method="POST" class="row">
  <div class="col-12">
    <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" maxlength="50" required>
    </div>

    <div class="col-12 mt-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" name="content" rows="4" placeholder="What's up?" maxlength="400" required></textarea>
      <small class="form-text">Maximum of 400 characters</small>
    </div>

    <div class="col-12 mt-3">
      <small class="font-weight-bold">Select tags to add post to:</small>
      {% for tag in tags %}
      <div>
        <input class="form-input" type="checkbox" name="tags" id="tag_{{ tag.id }}" value="{{ tag.id }}">
        <label class="form-check-label" for="tag_{{ tag.id }}"><i>{{ tag.name }}</i></label>
      </div>
      {% endfor %}
    </div>

    <div class="col-12 mt-4">
    <a class="btn btn-outline-danger btn-sm" href="/users" role="button">Cancel</a>
    <button type="submit" class="btn btn-success btn-sm">Submit</button>
  </div>
</form>

{% endblock %}