{% extends 'base.html' %}
{% block title %}Add a User{% endblock %}
{% block content %}

<h1 class="my-3">Create a User</h1>
<form action="/users/new" method="POST" class="row">
    <div class="col-md-6">
      <label for="fn" class="form-label">First Name</label>
      <input type="text" class="form-control" id="fn" name="first" placeholder="First Name">
    </div>
    <div class="col-md-6">
      <label for="ln" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="ln" name="last" placeholder="Last Name">
    </div>
    <div class="col-12 mt-4">
      <label for="image_url" class="form-label">Image URL</label>
      <input type="text" class="form-control" id="image_url" name="image" placeholder="Provide an image of this user">
    </div>   
    <div class="col-12 mt-4">
      <a class="btn btn-outline-primary btn-sm" href="/users" role="button">Cancel</a>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>     
  </form>
      
{% endblock %}