{% extends 'base.html' %}
{% block title %}{{user.full_name}}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-2">
        <img src="{{user.image_url}}" class="img-thumbnail" alt="profile picture">
    </div>
    <div class="col">
        <h1>{{user.full_name}}</h1>
        <form action="/users/{{user.id}}/delete" method="POST">
            <a class="btn btn-primary btn-sm" href="/users/{{user.id}}/edit" role="button">Edit</a>
            <input type="submit" class="btn btn-danger btn-sm" value="Delete">
        </form>
    </div>
</div>
<a class="btn btn-outline-secondary btn-sm mt-5" href="/users" role="button">Back to all users</a>
{% endblock %}