<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark mt-0">
        <a class="navbar-brand mx-4" href="/">Adopt-a-pet</a>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">Pets</a></li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-outline-warning btn-sm" href="/add">Add pet</a>
          </li>
        </ul>
      </nav>
      
    <div class="container mt-4">
        <!-- alert when user/post has been added/deleted/info edited -->
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-success" role="alert">{{msg}}</div>
        {% endfor %}
        <!-- end alert -->
        <div>{% block content %}BODY CONTENT GOES HERE{% endblock %}</div>
      </div>
</body>
</html>